<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="location" value="D:\Nanda\Docs"/>
      <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fbisamldev;AccountKey=sCW2JFgmO3BEenQ+bAsIqEW9DEgGeG29T/Pb8NuUo0fNvOrR78sx2IFkgCHVlnfaebelRm2F84CbW7tWdLCCzQ==;EndpointSuffix=core.windows.net"/>
    </appSettings>
</configuration>